---
import Layout from '../layouts/Layout.astro';
import {CardList} from '../components/CardList.jsx';
import Form from '../components/Form.astro';
---

<Layout title="Notes">
	<main>
		<div>
			<Form client:load>
			<CardList client:load/>
		</div>
	</main>
</Layout>

