---
import react from '@astrojs/react';
import Layout from '../layouts/Layout.astro';
import {CardContent} from '../components/Card.jsx';
---

<Layout title="Notes">
	<main>
		
		<h1>
			<span class="text-gradient">Notes</span>
		</h1>
		
		<ul>
			<CardContent title="Nota 1" body="Cuerpo de nota 1"/>
			<CardContent title="Nota 2" body="Cuerpo de nota 2"/>
			<CardContent title="Nota 3" body="Cuerpo de nota 3"/>
			<CardContent title="Nota 4" body="Cuerpo de nota 4"/>
		</ul>
	</main>
</Layout>

